<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843220621492-p4gsdrelqhhce6kgomjq60kfu4r6gb4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843220621492-p4gsdrelqhhce6kgomjq60kfu4r6gb4m</string>
	<key>API_KEY</key>
	<string>AIzaSyCuU4Wpz1TsA91kyaD1_hiT92jPQgcY8qs</string>
	<key>GCM_SENDER_ID</key>
	<string>843220621492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blog.wirasetiawan.LBStore</string>
	<key>PROJECT_ID</key>
	<string>lbstore-1580552825677</string>
	<key>STORAGE_BUCKET</key>
	<string>lbstore-1580552825677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843220621492:ios:b05e641ebab39a61cfdfe1</string>
	<key>DATABASE_URL</key>
	<string>https://lbstore-1580552825677.firebaseio.com</string>
</dict>
</plist>